<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.learnium.RNDeviceInfo">
          
    <application>
        <receiver
            android:name="com.learnium.RNDeviceInfo.RNDeviceReceiver"
            android:enabled="true"
            android:exported="true"
        >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
